node_modules/

# Archivos de entorno sensibles
.env
.env.*

# Logs
*.log
npm-debug.log*

# Archivos de bloqueo de versiones
package-lock.json
yarn.lock

# Carpetas de build
dist/
build/

# Directorios de cobertura de tests
coverage/

# Config propia
.vscode/
.idea/

# Otros
.DS_Store
.cache/
